.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 13vh;
  box-shadow: 10px black;
  padding: 10px;
}
@media screen and (max-width: 787px) {
  .header-container {
    display: none;
  }
}
.header-website-logo-container {
  margin-left: 50px;
}
.tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.link {
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  color: #0284c7;
  font-size: 15px;
  margin-right: 10px;
}
.list-item {
  text-decoration: none;
  list-style-type: none;
  margin-left: 10px;
}
.logout-btn {
  color: white;
  background-color: #0284c7;
  align-self: center;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  margin-right: 50px;
  padding: 3px;
  line-height: 16px;
}
@media screen and (min-width: 787px) {
  .header-navbar-responsive-container {
    display: none;
  }
}
@media screen and (max-width: 787px) {
  .header-navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-navbar-responsive-container {
  padding: 20px;
}
.cross-icon-btn {
  background: transparent;
  border: none;
  font-size: 25px;
}
.header-navbar-tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.btn-cross {
  margin-top: 10px;
  text-align: center;
}
